<% if (page.toc != false) { %>
    <div class="toc-out-container">
        <div class="toc-container">
            <strong class="toc-toggler" onclick="toggleToc()">目录<i class="fa-solid fa-caret-up toc-arrow"></i></strong>
            <%- toc(page.content, {
            class: theme.toc.class,
            max_depth: theme.toc.max_depth,
            min_depth: theme.toc.min_depth,
            list_number: theme.toc.list_number,
            }) %>
            <div class="blur-top"></div>
            <div class="blur-bottom"></div>
        </div>
    </div>
<% } %>
